<div class="banner">
  <h1>Coach Answer</h1>
</div>

<div class="container">
  <%= @question %>
  <p><strong>-You</strong></p>
  <%= @answer %>
  <p><strong>-Your coach</strong></p>
  <%= link_to "Ask a new question", ask_path %>
</div>

