<div class="banner">
  <h1>Stupid Coaching</h1>
</div>

<div class="container">
  <p>Ask your coach anything</p>
  <form class="input" action="/answer">
    <input class="question" type="text" name="question" placeholder="What's your question?">
    <input class="submit" type="submit" value="Ask!">
  </form>
</div>
